* {
    margin: 0;
    padding: 0;
}

/*for nav*/
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    /*position: fixed;*/
    /*top: 0;*/
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: red;
}

.active {
    background-color: blue;
}


/*for table*/
table.mytable {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-radius: 20px;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
}

table.mytable th {
    background: wheat;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}

table.mytable td {
    background: aliceblue;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}

input {
    width: 200px;
    margin-bottom: 1px;
    background: aliceblue;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
    color: black;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    box-shadow: inset 0 -5px 20px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}

input:focus {
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}

/*for container*/
.container {
    position: relative;
    width: 450px;

    align-items: center;
    padding: 5px 5px;
    color: black;
    background: wheat;
    border-radius: 10px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);
}


