<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>print list</title>
</head>

<body>


<script>
    window.setInterval(myFunction, 1000 * 2);

    var httpRequest = new XMLHttpRequest();
    var print = new XMLHttpRequest();


    function myFunction() {
        httpRequest.open("get", "/ajax_printer_state/");
        print.open("get", "/ajax_print_event/");
        httpRequest.send(null);
        print.send(null)
        {#httpRequest.responseType = "json"#}
        httpRequest.onreadystatechange = function () {
            if (httpRequest.readyState == 4 && httpRequest.status == 200) {
                var json = httpRequest.response;
                document.getElementById("printer_id").innerHTML = json
                {#console.log(json)#}

            }
        };
        print.onreadystatechange = function () {
            if (httpRequest.readyState == 4 && httpRequest.status == 200) {
                var json_print = print.response;
                document.getElementById("print_id").innerHTML = json_print
                {#console.log(json_print)#}

            }
        };
    }

</script>


<table border="1">
    <thread>
        <tr>
            <th>printer_id</th>
            <th>owner</th>
            <th>address</th>

        </tr>
    </thread>
    {% for printer in printer %}
        <tr>
            <td>{{ printer.printer_id }}</td>
            <td>{{ printer.owner }}</td>
            <td>{{ printer.address }}</td>

        </tr>
    {% endfor %}
</table>

打印机状态：
<div id="printer_id"></div>

<form action="/register_printer/" method="get">
    {% csrf_token %}
    <input type="submit" value="注册打印机">
</form>

<form action="/del_printer/" method="post">
    {% csrf_token %}
    <input type="text" name="printer_id">
    <input type="submit" value="删除打印机">
</form>

{#<form action="delprinterdata/" method="POST">#}
{#    {% csrf_token %}#}
{#    <input type="number" name="gcode_id">#}
{#    <input type="submit" value="delete_gcode">#}
{#</form>#}

{#<form action="del/" method="POST">#}
{#    {% csrf_token %}#}
{#    <input type="submit" value="clear database">#}
{##}
{#</form>>#}

<form enctype="multipart/form-data" action="/upload_gcode_file/" method="post">
    {% csrf_token %}
    <input type="file" name="gcode_file"/>
    <br>
    <input type="submit" value="上传文件"/>
</form>

<table border="1">
    <thread>
        <tr>
            <th>gcode_id</th>
            <th>gcode_name</th>
            {#            <th>gcode_url</th>#}
            {#            <th>gcode_safepath</th>#}
            <th>gcode_printing</th>
            <th>gcode_printed</th>
            <th>gcode_selected</th>
            <th>gcode_printer_id</th>
        </tr>
    </thread>
    {% for gcode in gcode %}
        <tr>
            <td>{{ gcode.gcode_id }}</td>
            <td>{{ gcode.gcode_name }}</td>
            {#            <td>{{ gcode.gcode_url }}</td>#}
            {#            <td>{{ gcode.gcode_safepath }}</td>#}
            <td>{{ gcode.gcode_printing }}</td>
            <td>{{ gcode.gcode_printed }}</td>
            <td>{{ gcode.gcode_selected }}</td>
            <td>{{ gcode.gcode_printer_id }}</td>
        </tr>
    {% endfor %}
</table>

{#<form action="delgcodedata/" method="POST">#}
{#    {% csrf_token %}#}
{#    <input type="number" name="gcode_id">#}
{#    <input type="submit" value="delete_gcode">#}
{#</form>#}
<form action="/delgcodedata/" method="GET">
    {% csrf_token %}
    <input type="submit" value="delete_gcode">
</form>

{#<form action="printgcode/" method="POST">#}
{#    {% csrf_token %}#}
{#    <input type="number" name="gcode_id">#}
{#    <input type="submit" value="print_gcode">#}
{#</form>#}

<form action="/printgcode/" method="GET">
    {% csrf_token %}
    <input type="submit" value="print_gcode">
</form>

打印机进度：
<div id="print_id"></div>

</body>
</html>