<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>print list</title>
</head>

<body>


<script>
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws'
    );

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data)
        const printer_state = JSON.stringify(data.printer_state)
        document.querySelector('#printer_state').value = printer_state;

        const print_progress = data.print_progress
        document.querySelector('#estimatedPrintTime').value = print_progress.estimatedPrintTime
        document.querySelector('#completion').value = print_progress.completion
        document.querySelector('#printTime').value = print_progress.printTime
        document.querySelector('#printTimeLeft').value = print_progress.printTimeLeft

        const temperatures = data.temperatures

        document.querySelector('#tool0_temperature').value = temperatures.tool0_temperature;
        document.querySelector('#tool1_temperature').value = temperatures.tool1_temperature;
        document.querySelector('#bed_temperature').value = temperatures.bed_temperature;

    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

</script>


<table border="1">
    <thread>
        <tr>
            <th>printer_id</th>
            <th>owner</th>
            <th>address</th>
        </tr>
    </thread>
    {% for printer in printer %}
        <tr>
            <td>{{ printer.printer_id }}</td>
            <td>{{ printer.owner }}</td>
            <td>{{ printer.address }}</td>

        </tr>
    {% endfor %}
</table>


<p>打印机状态：
    <output id="printer_state"></output>
</p>

<form action="/register_printer/" method="get">
    {% csrf_token %}
    <input type="submit" value="注册打印机">
</form>

<form action="/del_printer/" method="post">
    {% csrf_token %}
    <input type="text" name="printer_id">
    <input type="submit" value="删除打印机">
</form>

<br><br>

<form enctype="multipart/form-data" action="/upload_gcode_file/" method="post">
    {% csrf_token %}
    <input type="file" name="gcode_file"/>
    <br>
    <input type="submit" value="上传文件"/>
</form>

<table border="1">
    <thread>
        <tr>
            <th>gcode_id</th>
            <th>gcode_name</th>
            <th>gcode_printing</th>
            <th>gcode_printed</th>
            <th>gcode_selected</th>
            <th>gcode_printfailed</th>
            <th>gcode_printer_id</th>
        </tr>
    </thread>
    {% for gcode in gcode %}
        <tr>
            <td>{{ gcode.gcode_id }}</td>
            <td>{{ gcode.gcode_name }}</td>
            <td>{{ gcode.gcode_printing }}</td>
            <td>{{ gcode.gcode_printed }}</td>
            <td>{{ gcode.gcode_selected }}</td>
            <td>{{ gcode.gcode_printfailed }}</td>
            <td>{{ gcode.gcode_printer_id }}</td>
        </tr>
    {% endfor %}
</table>

{#<form action="delgcodedata/" method="POST">#}
{#    {% csrf_token %}#}
{#    <input type="number" name="gcode_id">#}
{#    <input type="submit" value="delete_gcode">#}
{#</form>#}
<form action="/delgcodedata/" method="GET">
    {% csrf_token %}
    <input type="submit" value="delete_gcode">
</form>

{#<form action="printgcode/" method="POST">#}
{#    {% csrf_token %}#}
{#    <input type="number" name="gcode_id">#}
{#    <input type="submit" value="print_gcode">#}
{#</form>#}

<form action="/printgcode/" method="GET">
    {% csrf_token %}
    <input type="submit" value="print_gcode">
</form>

<p>*****打印进度*****：<br>

    预计打印时间：
    <output id="estimatedPrintTime"></output>
    <br>

    完成百分比：
    <output id="completion"></output>
    <br>

    已打印时间：
    <output id="printTime"></output>
    <br>

    剩余打印时间：
    <output id="printTimeLeft"></output>
    <br>

</p>

<p>*****打印机温度*****：<br>
    tool0：
    <output id="tool0_temperature"></output>
    <br>
    tool1：
    <output id="tool1_temperature"></output>
    <br>
    bed：
    <output id="bed_temperature"></output>
    <br>
</p>

<script type="text/javascript">
    window.onload = function () {
        var config = {
            vx: 4,
            vy: 4,
            height: 2,
            width: 2,
            count: 100,
            color: "121, 162, 185",
            stroke: "100, 200, 180",
            dist: 6000,
            e_dist: 20000,
            max_conn: 10
        };
        CanvasParticle(config);
    }
</script>
<script src="{% static "js/canvas-particle.js" %}"></script>


</body>
</html>